/__pycache__

Secrets.py

coords.db

# minecraft stuff
/libraries
/logs
/versions
/world
banned-ips.json
banned-players.json
eula.txt
ops.json
server.jar
server.properties
usercache.json
whitelist.json
